<div class="container">
  <div class="masthead">
    <nav class="navbar navbar-light bg-faded rounded mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-toggleable-md" id="navbarCollapse">
            <%= nav_helper 'text-muted space', 'div' %>
            <div class="text-muted space"><%= login_helper %></div>
        </div>
    </nav>
  </div>
</div>

