<div class="blog-header">
	<div class="container">
		
	  <h2 class="center-this">My Blog Site</h2>

	  <p class="lead blog-description center-this">My blog site is made with Ruby on Rails and styled with bootstrap. The blogs not only have all of the necessary functionality that they require, but each blog is set up with real time comments so you never have to refresh the page inorder to get the latest messages from your friends.</p>

	  <div class="center-this"><%= link_to 'Write a New Blog', new_blog_path, class: 'btn btn-outline-primary' if logged_in?(:site_admin) %>
	<%= link_to 'Topics', topics_path, class: 'btn btn-outline-success' %></div>
	</div>
</div>