<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolios</h1>
    <p class="lead text-muted">My portfolio site is made with Ruby on Rails and styled with bootstrap. The portfolio items not only have all of the necessary functionality that they require, but each portfolio can be re-ordered simply by dragging and dropping them into a new location.  Don't worry about them moving back because the location is reasigned by the server once they are moved. The power of persistance is real.</p>
    <p>
      <%= link_to 'Find out more about me', about_me_path, class: 'btn btn-primary space' %>
      <%= link_to 'more about me', blogs_path, class: 'btn btn-secondary space' %>
    </p>
  </div>
</section>
