<footer class="text-muted">
	<div>
		<p class="center-this"><%= link_to "View All Portfolio Items", portfolios_path %>&nbsp; / &nbsp;<a href="#">Back to top</a></p>
		<p class="center-this"><%= copyright_generator %></p>
	</div>
</footer>