<div class="collapse" id="education">
	<div class="row">
		<div class="col-md-3">
			<div class="card-two card-block">
				Bachelor of Science in Computer Science, Computer Science Emphasis
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				GPA 3.43 | Dean’s List spring 2016
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				Utah Valley University, Orem, Utah
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				Anticipated Graduation, Spring 2021
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card-two card-block">
				Associate of Science
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				Phi Theta Kappa | GPA 3.75 | Graduated Cum Laude
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				Snow College, Ephraim, Utah
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				May 2014
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card-two card-block">
				Associate of Applied Science, Traditional Building Skills Emphasis
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				Phi Theta Kappa | GPA 3.75 | Graduated Cum Laude
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				Snow College, Ephraim, Utah
			</div>
		</div>
		<div class="col-md-3">
			<div class="card-two card-block">
				May 2014
			</div>
		</div>
	</div>
</div>