<div class="collapse" id="jobHistory">
	<div class="row">
		<div class="col-md-4">
			<div class="card-two card-block">
				JOB
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				LOCATION
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				DATE
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card-two card-block">
				Paper Wizard, Laser Technician
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				Orem, Utah
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				January 2015 – September 2017
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card-two card-block">
				Rubicon Contractors, Construction Worker
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				Centerville, Utah
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				April – December 2014
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card-two card-block">
				Snow College, Cabinet Shop Aid
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				Ephraim, Utah
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				August 2013 – May 2014
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card-two card-block">
				Boy Scouts of America, Rifle Range Director
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				Ogden, Utah
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				June – August 2013
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card-two card-block">
				State of the Art Restoration, Construction Worker
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				Salt Lake City, Utah
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-two card-block">
				May – August 2012
			</div>
		</div>
	</div>
</div>