<div class="app-card-container">
	<div class="card">
		<div class="card-no-border">
		<h1>About Me</h1>
	</div>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "profile.jpg", alt: "profile image", class: 'profile-image', width: 300 %>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<p>"Jack is an aspiring artist trying to find his niche in the art world especially online.  Has been doing all sorts of things creative since he was a child and continues that passion.  Loves working in both traditional and digital forms of art and constantly goes back and forth between the two.  His other interests are writing, horse back riding, dogs, reading, anime/manga, Nintendo (particularly Legend of Zelda), karate, cosplay, music, and baking.  Jack's main projects at the moment are his YouTube series called Jackysody and his web comic, Spirit of a Hero."</p>
			</div>
		</div>
	</div>
</div>