<div>
<h1>Shane Soderstrom</h1>
<p>Highland, Utah | 801-857-4399 | soderstromshane@gmail.com</p>
</div>

<div>
	<h3>Education</h3>
	<h4>Bachelor of Science in Computer Science, Computer Science Emphasis</h4>
	<div>
		<p>Utah Valley University, Orem, Utah</p>
	</div>
	<div>
		<p>Anticipated Graduation, Spring 2021</p>
	</div>
	<p>GPA 3.43 | Dean’s List spring 2016</p>
</div>
<div>
	<h4>Associate of Science</h4>
	<div>
		<p>Snow College, Ephraim, Utah</p>
	</div>
	<div>
		<p>May 2014</p>
	</div>
	<p>Phi Theta Kappa | GPA 3.75 | Graduated Cum Laude</p>
</div>
<div>
	<h4>Associate of Applied Science, Traditional Building Skills Emphasis</h4>
	<div>
		<p>Snow College, Ephraim, Utah</p>
	</div>
	<div>
		<p>May 2014</p>
	</div>
	<p>Phi Theta Kappa | GPA 3.75 | Graduated Cum Laude
</p>
</div>
<div>
<h3>Related Coursework</h3>
	<ul>
		<li>Fundamentals of Programming – Emphasis on C#</li>
		<li>Object-Oriented Programming – Emphasis on C++</li>
		<li>Computer Organization and Architecture – Emphasis on low level programming</li>
		<li>Computer Networks</li>
		<li>Discrete Mathematics</li>
		<li>Web Programming One – Emphasis on front end programming</li>
		<li>Intro to Algorithms and Data Structures – Emphasis on C++</li>
	</ul>
</div>
<div>
	<h3>Projects</h3>
	<p><strong>Dynamic Sequence</strong> – Created from scratch a dynamic array that imitates the Standard Template Library’s vector class. Contains its own copy, delete, add, remove, and locate functions without the use of the STL.</p>
	<p><strong>Linked List</strong> – Created from scratch a linked list that manipulates Nodes. Imitates the Standard Template Library’s List container. Contains its own push, pop, delete, size, and copy functions without the use of the STL.</p>
</div>

<div>
	<h3>Programming Languages</h3>
	<ul>
		<div>
			<li>C#</li>
			<li>C++</li>
			<li>LC3</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>XML</li>
		</div>
		<div>
			<li>Ruby</li>
			<li>Rails</li>
			<li>PostgreSQL</li>
			<li>Java Script</li>
			<li>JQuery</li>
			<li>Json</li>
		</div>
	</ul>
</div>
<div>
	<h3>Employment History</h3>
	<p>Paper Wizard, Laser Technician, Orem, Utah - January 2015 – September 2017</p>
	<p>Rubicon Contractors, Construction Worker, Centerville, Utah - April – December 2014</p>
	<p>Snow College, Cabinet Shop Aid, Ephraim, Utah - August 2013 – May 2014</p>
	<p>Boy Scouts of America, Rifle Range Director, Ogden, Utah - June – August 2013</p>
	<p>State of the Art Restoration, Construction Worker, Salt Lake City, Utah
 - May – August 2012</p>
</div>
<div>
	<h3>Additional Accomplishments</h3>
	<ul>
		<li>Two-year mission, The LDS Church, Charleston, West Virginia</li>
		<li>Three black belts in: Bushi Kai Karate, Shotokan Karate, and Bushi Ban Karate
January 2015 – Current April – December 2014 August 2013 – May 2014 June – August 2013 May – August 2012</li>
	</ul>
</div>











