<div class="card">
	<div class="inner cover">
		<h1 class="cover-heading">Welcome <%= current_user.name %>!</h1>
		<p class="lead">If you have something to share, then you should share it.  If you have something to give, then you should give it.  If you have an idea that you want to create, then you should make it.</p>
		<p class="lead">
			<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-success" %>
		</p>
	</div>
</div>
