@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  font-family: 'Lora', serif;
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, {
  font-family: 'Bitter', serif;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  width: auto;
  max-height: 350px;
  max-width: 300px;
  padding: 2px;
  background-color: rgb(186, 205, 255);
}

.card-text {
  font-size: 85%;
  width: 100%;
  margin: 5px;
  color: black;
  border-width: 1px;
  border-radius: 5px;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.collapse show {
  background-color: black;
}



.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {  
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* custom */


.center-this {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space a {    
  color: #868e96;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space a:hover {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-decoration: none;
}

.space {
  margin: 4px 2px 2px 2px;
}

.portfolio-form {
  padding: 20px;
}

.portfolio-container {
  padding-top: 30px;
}

.h3 {
  padding: 20px;
}

.col-md-12 a {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.card-block {
  padding: 10%;
}

.card-block-two {
  padding: 2%;
}

.size {
  max-width: 300px;
}